body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* general styles */

ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 18px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


/* Header styles */

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 10px 88px;
    margin-bottom: 0;
}

.logo {
    margin: 0;
    padding: 0;
    color: #f9faf8;
    font-size: 24px;
}

.hero, .footer {
    background-color: #1f2937;
}

/* Hero styles */

.hero {
    display: flex;
    flex: 1;
    padding: 22px 88px;
    gap: 15px;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}

.hero-img {
    width: auto;
    height: 250px;
}

.info-section h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 240px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin-bottom: 0;
}

.info-section p {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 240px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
}

.hero-btn {
    border-radius: 8px;
    border-style: hidden;
    padding: 5px 15px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    align-self: flex-start;
}

.info-section {
    margin-bottom: 38px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.section-two {
    background-color: white;
}



/*  */
